@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-image: url("../../../assets/images/loginback.jpg");
    background-size: auto;
    font-family: 'montserrat';
    line-height: 1.5;
}

.container{
    margin-top: 5px;
    justify-content: center;
    background-color: white;
    padding:5px;
    
}

   .logo{
    height:500px;
    width: 40%!important;
    margin-top:30px;
    position:left;
    left:10%
} 




.para-div{
    height:500px;
    width: 40%!important;
    margin-top:30px;
    padding: 5px;
    background-color:whitesmoke;
    display: block;
    position: absolute;
    right: 10%;
    top:30px;

}

.logo-div{
    position: absolute;
    left:9%;
    display: block;
}

.main-div{
    position: relative;
}


.intro{
    text-align: left;
    margin:0 5%;
    font-family: 'open sans';
    

}


.heading{
    color:rgb(217,130,181)!important ;
    font-weight:500px;
}

@media screen and( max-width:800px){
    .logo{
      font-size: 300px;
      font-weight:bold;
      margin-left:10px;
    }
}
@media screen and (max-width:600px){
  nav{
    display:block;
    }

    nav{
      flex-direction:column;
      width:100%;
      position:absolute;
      background-color:rgb(207, 49, 49);
      padding:20px;
      right:0%;
      top:64px;

    }

}
