@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-image: url("../../../assets/images/loginback.jpg");
    background-size: auto;
    font-family: 'montserrat';
    line-height: 1.5;
}

.container{
    margin-top: 5px;
    margin-left:400px;
    background-color: white;
    padding:5px;
    
}

.logo{
    height:500px;
    margin-left:700px;
    margin-top:30px;
}

.overflow{
    overflow: hidden;
}

.main{
    text-align: center;
    margin-top:40px;
}

.intro{
    text-align: left;
    margin:0 5%;
    font-family: 'open sans';
    

}


.heading{
    color:rgb(217,130,181)!important ;
    font-weight:500px;
}


/*footer*/

