@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

nav.navbar.navbar-default {
  margin-bottom: 0;
}

nav {
    background:rgba(0, 74, 124, 0.719);
    padding:20px;
    display:flex;
    justify-content: space-between;
    position:relative;
    z-index:99;
    height: 100px;
}

.fas{
  cursor:pointer;
}

.menu-icon .fa-times{
  transform:rotate(360deg);
  transition:all 0.2s ease-in-out;
}

.Menu-list{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8%;
}

.Menu-list li:first-child a {
  font-weight: 500;
  padding:5px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
}

.Menu-list li a:hover{
  background-color:rgb(202, 202, 202);
  border-radius: 10px;
  color:rgb(2, 0, 133);
} 
.Menu-list li a.active{
  background-color:white;
  border-radius:10px;
  color:rgb(2, 0, 133);
  transition: all 0.5s ease-in-out;

}

.Menu-list li a{
  font-family: 'Poppins';
  text-decoration:none;
  color:rgba(248,248,248);
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  padding: 5px 10px;
  margin-left: 20px;
}

.logout{
  border-radius:10px;
  background-color: rgb(0, 56, 94);
  font-weight: 400;
  font-size: 30px;
  color: rgb(255, 255, 255);
}


@media screen and( max-width:800px){
    .Menu-list li a{
      font-size: 300px;
      font-weight:bold;
      margin-left:10px;
    }
}
@media screen and (max-width:600px){
  nav{
    display:block;
    }

    nav{
      flex-direction:column;
      width:100%;
      position:absolute;
      background-color:rgb(207, 49, 49);
      padding:20px;
      right:0%;
      top:64px;

    }
    .Menu-list li{
      margin: bottom 14px;
      width:100%;
      text-align:center;
      transition: all 0.5s ease-in-out;
    }
}

.menu-icon{
  display:none;
}

.menu-list.close{
  right:100%;
  transition: all 0.5s ease-in-out;
}

.icon {
  height: 5px;
  width: 5px;
}